* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;


}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    position: fixed;
    min-height: 75px;
    top: 0;
    background-color: lightgrey;
}




#nav-bar ul,
footer ul {
    display: flex;
    list-style: none;
}

.logo {
    width: 60vw;
}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
}

#hero-fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    margin-top: 90px;
}

#hero-fieldset>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

#hero-fieldset>form>#email {
    width: 20vw;
    margin-bottom: 1vw;
    border: 1px solid black;
    border-radius: 3px;
}

#hero-fieldset>form>#submit {
    background-color: yellow;
    width: 12vw;
    font-weight: 1000;
}

#hero-fieldset>h1 {
    font-size: 3rem;
}



#Features {
    margin: 20px auto;
}

.Feature-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Feature-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkorange;
    width: 10vw;
    height: 125px;
}

.Feature-item>.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding: 5px;
    height: 125px;
}

#video-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#video {
    max-width: 560px;
    width: 100%;
    height: 315px;
}

#plans {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 60px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.plan p {
    margin: 5px auto;
}

.plan h3 {
    background: lightgray;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.plan h2 {
    margin: 10px auto;
}

.plan button {
    margin: 10px auto;
    background-color: yellow;
    height: 30px;
    width: 80px;
    font-weight: bold;
}

footer {
    padding: 20px;
    background-color: lightgrey;
    margin: 20px auto;
}

footer ul {
    display: flex;
    justify-content: flex-end;
}

footer p {
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-weight: bold;
}

@media (max-width: 800px) {
    #plans {
        flex-direction: column;
    }

    .plan {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #video {
        max-width: 360px;
        width: 100%;
        height: 175px;
    }


}

@media (max-width:420px) {
    .Feature-item {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .Feature-item>.desc {
        width: 80vw;
    }

    #header {
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .logo {
        margin: 5px auto;
        width: 100vw;
    }

    #nav-bar,
    #nav-bar ul {
        width: 100%;
        margin-bottom: 10px;
    }

    #hero-fieldset>form>#submit {
        width: 30vw;
    }

    #hero-fieldset>form>#email {
        width: 40vw;
        margin-bottom: 10px;
    }

    #hero-fieldset>h1 {
        font-size: 2rem;
    }
}